
p
{
  position: absolute;
  font-family: Futura;
  color: white;
  font-size: 45px;
  z-index: +5;

}
p.logo2
{
  font-size: 37px;
  margin-top: 100px;
  width: 300px;
}
.logop
{
  position:absolute;
  margin-left: -230px;
  margin-top: -230px;

}

.banner
{
  background-color: #0099CD;
  width: 100%;
  height: 190px;
  position: absolute;
  margin-left: -300px;
  margin-top: -230px;
  z-index: -2;
}


.count {
    border-radius: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: 880px;
    background-color: #C60039;
    color: white;
    padding: 5px 12px 5px 12px;
    font-size: 15px;
}

.sendBack
{
  z-index: -10;
}




.hero
{
  position: absolute;
  margin-left: -300px;
  margin-top: -220px;
  z-index: -1;
}

.blu
{
  background-color: #0066CC;
  width: 100%;
  height: 190px;
  position: absolute;
  margin-left: -300px;
  margin-top: -230px;

}

.menu {
    position: absolute;
    margin-left: 950px;
    margin-top: -170px;
    }

.cta
{
  position:absolute;
  margin-top: 400px;
  margin-left: 200px;
  z-index: +10;
}

.prodimg {
    position: absolute;
    margin-left: -190px;
 
}
.prodimg1
{
  margin-left: 150px;
}
.prodimg2
{
  margin-left: 80px;
}

.cart {
    position: absolute;
    margin-left: 848px;
    margin-top: -175px;
}

.displayNone
{
  display: none;
}
div
{
  font-family: Futura;
  color: #33302F;
  font-size: 26px;
  margin-left: 300px;
  margin-top: 230px;
}
div.title
{
  font-size: 39px;
}
div.desc {
    color: #555759;
    font-size: 25px;
    margin-top: 0px;
    width: 550px;
}
div.price
{
  margin-top: 30px;
}
div.color
{
  margin-top: 25px;
}

.choice
{
  position: absolute;
  margin-top: 10px;
}
.choice img
{
  padding-right: 18px;
  
}
div.qty
{
  margin-top: 95px;
  width: 165px;
}

.shopp {
    position: absolute;
    margin-top: 200px;
    margin-left: 160px;
    z-index: +10;
}

.itemShow
{
  
  position: absolute;
  margin-top: -40px;
  margin-left: -300px;
  width: 893px;
  height: 700px;
  padding:50px 0px 100px 0px;
  text-align: center;
  font-size: 33px;
}

pre
{
  margin-top: -170px;
  margin-left: -300px;
  font-size: 26px;
  font-family: Futura;
}

.linepos
{
  position: absolute;
  margin-left: -560px;
  margin-top: -15px;
}

.imm
{
  width: 90px;
  margin-left: -730px;

}
.item
{
  margin-top: 60px;
  margin-left: -280px;
}
.itemTitle
{
  margin-top: -100px;
  margin-left: -400px;
  font-size: 19px
}
.colorChoice
{
  margin-top: 5px;
  color: #666465;
  margin-left: -511px;
  font-size: 19px
}

.kuler
{
  width:15px;
  margin-top: 0px;
  margin-left: 5px;
}

.remove
{
  color: #9E9E9E;
  font-size: 15px;
  margin-top: 10px;
  margin-left: -520px;
}

.pricey
{
    width: 100px;
    position: absolute;
    margin-left: 400px;
    margin-top: -30px;
}

.quant
{
    width: 100px;
    position: absolute;
    margin-left: 555px;
    margin-top: -30px;
}

.tprice
{
    width: 100px;
    position: absolute;
    margin-left: 710px;
    margin-top: -30px;
}

.opt 
{
    position: absolute;
    width: 100px;
    font-size: 28px;
    border-bottom-color: #BA9261;
    border-top-color: #BA9261;
    border-left-color: #BA9261;
    border-radius: 15%;
    color: #33302F;
    margin-left: 460px;
    margin-top: -37px;
    text-align: center;
}

.add 
{
    font-family: Futura;
    color: white;
    font-size: 33px;
    margin-left: 580px;
    margin-top: 10px;
    padding: 20px 40px 20px 40px;
    background-color: #C60039;
    border-radius: 25px;
}


.blueBox {
    background-color: #0066CC;
    width: 489px;
    height: 338px;
    position: fixed;
    margin-left: 580px;
    margin-top: 25px;
}

.one {
    width: 200px;
    margin-left: 88px;
    margin-top: 55px;
    color: white;
    font-size: 30px;
    text-align: right;

}

.menuitems
{
  
  margin-top: -260px;
  margin-left: 690px;
  width: 300px;
  text-align: right;


}
.menuitems div
{
  color: white;
  margin-left: 88px;
  margin-top: 15px;
  

}

.pent {
    z-index: +20;
    margin-left: 709px;
    margin-top: -228px;
}

.menu1 {
    margin-top: -300px;
    margin-left: 950px;
    position: absolute;
}

.line1 {
    width: 374px;
    margin-left: 47px;
}

.onet
{
  width: 200px;
    margin-left: 88px;
    margin-top: 28px;
    color: white;
    font-size: 30px;
    text-align: right;
}


.checkout
{
  margin-top: 30px;
}

.tinyCart {
    background-color:#E5E3E4;
    width: 489px;
    height: 338px;
    margin-left: 580px;
    margin-top: 25px;
    position:absolute;
}







